
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/table.css'/>

<section class="head-text">
  <div class="container text-center">
    <p><h2>Welcome {{user.username}}!</h2></p>
  </div>
</section>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
  <a class="navbar-brand logo" href="#"> Assignment <i class="fas fa-tasks logo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      
      <li class="nav-item active">
        <a class="nav-link" href="/notAdmin">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/changePassword">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hourSchedule">Office Hour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/helpStudent">Help</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/chat">Join Chat</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      
    </ul>
  </div>
  </div>
</nav>

<main class="container">
  <div class="row"> <h2> Progress Reports </h2></div>
  <div class="row">
    
    <div style="border-bottom: 6px solid grey; background-color: white;
    border-right: 4px solid grey; border-radius:10px" class="col-lg-5">
      <p>
        <h4>Submitted Assignments: {{done}}%</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{done}}%" aria-valuenow="{{done}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div> <br>
      </p>
    </div>

    <div class="col-lg-1">&nbsp;</div>

    <div style="border-bottom: 6px solid grey; background-color: white;
    border-right: 4px solid grey; border-radius:10px" class="col-lg-6">
      <p>
      <h4>Grade: {{grade}}%  &nbsp; &nbsp; &nbsp;Points: {{fraction}} </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{grade}}%" aria-valuenow="{{grade}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </p>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div style="border-bottom: 6px solid grey; border-right: 4px solid grey;
     background-color: white; border-radius:10px" class="col-lg-12">
      <p>
        <h4>Teacher Graded: {{gradedFraction}} Assignments</h4>
        <div class="progress">
          <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{graded}}%" aria-valuenow="{{graded}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div> <br>
      </p>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row"> <h2> Assignments </h2></div>

  <div style="padding: 50px ; border-right: 5px solid grey; border-bottom: 7px solid grey;
   background-color: white; border-radius:10px" class="row">
 
  {{#if rows}}
    <table id="myTable">
      <thead>
        <th>Description</th>
        <th>Due</th>
        <th>Grade</th>
        <th>Submitted</th>
        <th>Commented</th>
    </thead>
    <tbody>
    {{#each rows}}
        <tr>
          <form  method="post" action="/submit">
            <td> {{ description }}</td>
            <td> {{ due }}</td>
            <td class="center"> {{ grade }}</td>
            <td class="hiddenText center">
              {{#if submitted}}
                <button class="hiddenButton" type="submit"><i class="fas fa-check"></i></button>
              {{else}} 
                <button class="hiddenButton" type="submit"><i class="fas fa-times"></i></button> 
              {{/if}}
            </td>
            <input class="hiddenFO" name="id" type="hidden" value="{{id}}" readonly>
          </form>

            <td class="center">
              {{#if commented}} 
                  <p class="hiddenFO" id="{{id}}text">Comment: {{comments}}</p>
                  <button class="hiddenButton" id="{{id}}"><i class="fas fa-comment"></i></button>
                  <script>
                    function comment() {
                      var comments = document.getElementById({{id}} +"text").innerHTML;
                      alert(comments);
                    }
                    document.getElementById({{id}}).addEventListener('click', comment);
                  </script>
              {{/if}}
            </td>
      
        </tr>
    {{/each}}
    </tbody>
  </table> 

  {{else}}
    <h3 style="color:red;">No assignments</h3>
  {{/if}}
  </div>
</main>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
  $('#myTable').DataTable();

  var rows = $('tr');
  for (i = 0 ; i < rows.length; i++) {
    var cell = rows[i];
    console.log(cell)
    if (i%2==1) {
      cell.style.backgroundColor = 'lightgrey';
    }
  }
});

});

$(document).click(function(){
  var rows = $('tr');
  for (i = 0 ; i < rows.length; i++) {
    var cell = rows[i];
    console.log(cell)
    if (i%2==1) {
      cell.style.backgroundColor = 'lightgrey';
    } else if (i%2==0 && i!=0) {
      cell.style.backgroundColor = 'white';
    }
  }
});


</script>


